.trending-container {
      display: flex;
      /* flex-direction: row; */
      align-items: center;
     
}

.trending-cards {
      display: flex;
      
}
.buttons{
      display: flex;
      padding: 2px;
}

button{
      border-radius: 50%;
}